* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--white-color: #fff;
	--red-color: rgb(255, 0, 0);
	--black-color: #000;
	--grey-color: #6a6a6a;
	--bg-gray-color: #28272c;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	gap: 10px;
}

h2::before,
h2::after {
	content: '';
	display: block;
	height: 3px;
	width: 60px;
	background-color: var(--red-color);
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.container {
	width: 1088px;
	margin: 0px auto;
}

.small-btn {
	font-size: 1.4rem;
	font-weight: 700;
	padding: 11px 29px;
}

.header {
	position: relative;
	height: 807px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/Image.png);
	background-size: cover;
	/* background-position: top; */
}

/* header nav  */

.header__nav {
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 8px 8px 60px -18px rgba(53, 53, 62, 1);
	height: 90px;
}

.header__nav .container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* logo box  */

.header__logo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-decoration: none;
}

.logo-text {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--red-color);
	font-size: 3.5rem;
}

.logo-text span {
	color: var(--white-color);
}

/* nav box  */

.header__nav-box {
	display: flex;
	gap: 60px;
}

.header__nav-box li {
	height: 90px;
	display: flex;
	align-items: center;
	transition: background-color 0.3s;
}

.header__nav-box li:hover {
	background-color: rgba(202, 202, 202, 0.4);
}

.header__nav-item {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white-color);
	padding: 12px;
}

/* Header content  */

.header_content_container {
	height: calc(100% - 90px);
	display: flex;
	width: 1088px;
	margin: 0px auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header__title {
	font-size: 9rem;
	text-transform: uppercase;
	font-weight: 900;
	padding: 16px;
	color: var(--white-color);
}

.header__text {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 6px;
	color: var(--white-color);
}

.header_btns {
	display: flex;
	gap: 80px;
	margin-top: 54px;
}

.btn {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 25px 55px;
	text-decoration: none;
	border-radius: 40px;
	box-shadow: 0px 3px 6px #ff00004d;
	background-color: var(--red-color);
	color: var(--white-color);
}

.btn--secondary {
	background-color: var(--white-color);
	color: var(--red-color);
}

.arrow-icon-box {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -26px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrow-down {
	display: flex;
	justify-content: center;
	background-color: var(--red-color);
	height: 55px;
	width: 55px;
	border-radius: 50%;
}

/* SECTION BLOG  */

.blog {
	padding-top: 91px;
	padding-bottom: 100px;
}

.blog__cards-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 35px;
}

.blog__card {
	max-width: 352px;
}

.blog__card-title {
	font-size: 1.9rem;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 15px;
	color: var(--grey-color);
}

.blog__card-text {
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: var(--grey-color);
	margin-right: 92px;
	margin-bottom: 26px;
}

.small-btn {
	font-size: 1.4rem;
	font-weight: 700;
	padding: 11px 29px;
}

/* Section SERVICE  */

.service {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: var(--bg-gray-color);
}

.service__title {
	color: var(--white-color);
}

.service__cards-container {
	padding-top: 75px;
	display: flex;
	justify-content: space-between;
}

.service__card {
	max-width: 231px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.service__card-img {
	width: 170px;
	height: 170px;
}

.service__card-title {
	text-align: center;
	font-size: 1.9rem;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 15px;
	color: var(--white-color);
}

.service__card-text {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 300;
	color: var(--grey-color);
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}

/* CONTACT SECTION  */

.contact {
	padding-top: 65px;
	padding-bottom: 75px;
}
